КЯРД/Лабораторные работы/lb11 (html)/zz3.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="book">
 <xs:complexType>
 <xs:sequence>
 <xs:element name="heading" type="xs:string"/>
 <xs:element name="page" type="xs:string"/>
 <xs:element name="parag" type="xs:string"/>
 <xs:element name="end" type="xs:string"/>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>